{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{{ form_start(form) }}
{{ form_widget(form) }}
<div class="col-sm-offset-2">
    <input class="btn btn-default" type="submit" value="Envoyer">
</div>
{{ form_end(form) }}
