{% extends '@CompanyCompany/layout.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="text-center">Bienvenue à la Happy company</h1>
    </div>

    {{ include('@CompanyCompany/company/form.html.twig') }}

{% endblock %}