{% extends '@CompanyCompany/layout.html.twig' %}

{% block body %}

    {% for message in app.flashes('info') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}

    {{ include('@CompanyCompany/company/form.html.twig') }}

{% endblock %}