{% extends '@CompanyAdmin/layout.html.twig' %}

{% block body %}

    <div>
        <h4>Liste des annonces</h4>
    </div>

    <div>
        <table class="table table-hover">
            <thead>
                <td>Nom</td>
                <td>Mail</td>
                <td>Date</td>
                <td>Détail</td>
                <td>Statut</td>
            </thead>
            <tbody>
                        
            {% for message in messages %}
                <tr>
                    <td>{{ message.name }}</td>
                    <td>{{ message.mail }}</td>
                    <td>{{ message.datecreation|date('d/m/Y') }}</td>
                    <td>
                        <a href="{{ path('company_admin_message_view', {message: message.id}) }}">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        {% if message.checked == 1  %} 
                            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                </tr>   
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}